body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 2rem;
}

.sidenav {
    padding-top: 10%;
}

.form {
    padding: 1rem;
    border-radius: 15px;
}